html {
    background-color:#87CEEB;
    text-align: center;
}
.title{
    font-family:cursive;
    color:black;
    text-shadow: 2px 2px gray;
    text-align: center;
}
.list{
    text-align: left;
}
img {
  border-radius: 50%;
}